<div class="map" id="map"></div>

<script lang="text/javascript">
 
var map = L.map('map').setView([39.8282, -98.5795], 4);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

var gpxfiles = "{{ include.gpx }}".split (',');
var numtoload = gpxfiles.length;
var bounds = null;

for (var i = 0; i < gpxfiles.length; i++)
{

var url = "/public/gpx/"+gpxfiles[i]+".gpx";
new L.GPX(url, {async: true,
marker_options: {
    startIconUrl: '/public/img/pin-icon-start.png',
    endIconUrl: false,
    shadowUrl: '/public/img/pin-shadow.png'
  } }).on('loaded', function(e) {
                          bounds = getbounds (e.target.getBounds(), bounds);

                          numtoload--;

                          if (numtoload <= 0)
                          {
                               map.fitBounds(bounds);
                           }
                          
      }).addTo(map);

}


function getbounds (one, two)
{
  if (one && two)
  {
       return one.extend (two);
  }
   
   return one || two;
}
</script>