.map
{
    height: 250px;
}

.left 
{
    float: left;
}

.right
{
    float: right;
}

img 
{
    margin-bottom: 0.2em; !important
}

.image-caption
{
    text-align: center;
    font-weight: bold;
}
