<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
      	<div class="right summary">
         <!-- As of 23 July  -->
      		<div class="miles">4,516 miles</div>
      		<div class="climbed">188,389ft climbed</div>
      		<div class="map link"><a href="/map/">View map</a></div>
      	</div>
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          {% for page in site.pages_list %}
  &nbsp;&nbsp;&nbsp;
  <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
{% endfor %}

<form action="//james.us10.list-manage.com/subscribe/post?u=595a201337078406859349247&amp;id=970a8780e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_595a201337078406859349247_970a8780e8" tabindex="-1" value=""></div>
    <input type="submit" value="Keep me up to date!" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>

        </h3>
      </header>  
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>


   <script>
    function subscribe()
    {
       var email = document.getElementById("email").value;
       if(!isValidEmail(email))
       {
          alert("Email address is not valid"); 
          return;
       }

       var subscriberList_ref = new Firebase("https://james-fm.firebaseio.com/subscribers");
       subscriberList_ref.push({'email': email});

       document.getElementById("form").innerHTML = "<small>Subscribed!</small>"
    }

    function isValidEmail(email)
    {
      var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      return re.test(email);
    }
   </script>
  </body>
</html>